@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Global styles
body {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

html,
body {
    height: 100%;
    overflow: hidden;
    --mat-sys-corner-large: 10px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-container {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 136, 136);
}

:root {
    /* 🌞 Light Theme */
    --background-color: white;
    --primary-color: #007cbf;
    --text-color: black;
    --login-top: #007cbf;
    --login-bottom: #f64f5999;
}

.dark-theme {
    /* 🌙 Dark Theme */
    --background-color: black;
    --primary-color: #dfb0ef;
    --text-color: white;
    --login-top: #8274c3;
    --login-bottom: #905eab;
}

/* Apply these variables to Angular Material */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 12px
}

.theme {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.mat-mdc-button,
.mat-mdc-raised-button {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.mat-form-field {
    color: var(--text-color) !important;
}

.custome-wrapper {
    .mat-mdc-form-field-subscript-wrapper {
        height: 0 !important;
    }
}

.mat-mdc-text-field-wrapper {
    height: 35px !important;
    padding: 0 10px !important;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 5px !important;
}

.mat-custome-pagination {
    .mdc-notched-outline {
        height: 30px;
        top: 3px
    }
}

.mat-mdc-option {
    min-height: 40px !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
    font-size: 13px !important;
}

.icon-color{
    // .mat-icon{
    color: var(--text-color) !important;
    // }
}